## POSTTEST 4 ( DATA PREPROCESSING)

# IMPORT PACKAGE
- Pandas
- Numpy
- Scikit-Learn(Sklearn)

In [199]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

# untuk Data Split
from sklearn.model_selection import train_test_split #testing dan training data
# untuk Data Transforming
from sklearn.preprocessing import StandardScaler #standarisasi
from sklearn.preprocessing import MinMaxScaler #normalisasi
# untuk Data Cleaning
from sklearn.impute import SimpleImputer #subtitusi nilai
# untuk Data Encoding
from sklearn.preprocessing import OrdinalEncoder #encoder
from sklearn.preprocessing import OneHotEncoder #onehot

## Record File "housewares.csv"

In [200]:
df = pd.read_csv('housewares.csv')
df.head()

,Name,Variation,Body Title,Pattern,Pattern Title,DIY,Body Customize,Pattern Customize,Kit Cost,Buy,...,Interact,Tag,Outdoor,Speaker Type,Lighting Type,Catalog,Filename,Variant ID,Internal ID,Unique Entry ID
0,acoustic guitar,Natural,Body,NaN,NaN,Yes,Yes,No,5.0,NFS,...,Yes,Musical Instrument,No,Does not play music,No lighting,Not for sale,FtrAcorsticguitar_Remake_0_0,0_0,383,EpywQXABBcv2dipsP
1,acoustic guitar,Cherry,Body,NaN,NaN,Yes,Yes,No,5.0,NFS,...,Yes,Musical Instrument,No,Does not play music,No lighting,Not for sale,FtrAcorsticguitar_Remake_1_0,1_0,383,K9she5Y4SuXA8MGBR
2,acoustic guitar,Brown,Body,NaN,NaN,Yes,Yes,No,5.0,NFS,...,Yes,Musical Instrument,No,Does not play music,No lighting,Not for sale,FtrAcorsticguitar_Remake_2_0,2_0,383,vLq9iphAvALBXazDr
3,acoustic guitar,Blue,Body,NaN,NaN,Yes,Yes,No,5.0,NFS,...,Yes,Musical Instrument,No,Does not play music,No lighting,Not for sale,FtrAcorsticguitar_Remake_3_0,3_0,383,nuqeFzNE5PneqGHaj
4,acoustic guitar,White,Body,NaN,NaN,Yes,Yes,No,5.0,NFS,...,Yes,Musical Instrument,No,Does not play music,No lighting,Not for sale,FtrAcorsticguitar_Remake_4_0,4_0,383,DotFsojrhCwrLZ3TF

In [201]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3275 entries, 0 to 3274
Data columns (total 32 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               3275 non-null   object
 1   Variation          3074 non-null   object
 2   Body Title         1182 non-null   object
 3   Pattern            1508 non-null   object
 4   Pattern Title      1508 non-null   object
 5   DIY                3275 non-null   object
 6   Body Customize     3275 non-null   object
 7   Pattern Customize  3275 non-null   object
 8   Kit Cost           2239 non-null   float64
 9   Buy                3275 non-null   object
 10  Sell               3275 non-null   int64
 11  Color 1            3275 non-null   object
 12  Color 2            3275 non-null   object
 13  Size               3275 non-null   object
 14  Miles Price        115 non-null    float64
 15  Source             3275 non-null   object
 16  Source Notes       1870 non-null   object
 17  Version            3275 non-null   object
 18  HHA Concept 1      3275 non-null   object
 19  HHA Concept 2      3275 non-null   object
 20  HHA Series         3275 non-null   object
 21  HHA Set            3275 non-null   object
 22  Interact           3275 non-null   object
 23  Tag                3275 non-null   object
 24  Outdoor            3275 non-null   object
 25  Speaker Type       3275 non-null   object
 26  Lighting Type      3275 non-null   object
 27  Catalog            3275 non-null   object
 28  Filename           3275 non-null   object
 29  Variant ID         3153 non-null   object
 30  Internal ID        3275 non-null   int64
 31  Unique Entry ID    3275 non-null   object
dtypes: float64(2), int64(2), object(28)
memory usage: 818.9+ KB

In [202]:
df.isna().sum()

Name                    0
Variation             201
Body Title           2093
Pattern              1767
Pattern Title        1767
DIY                     0
Body Customize          0
Pattern Customize       0
Kit Cost             1036
Buy                     0
Sell                    0
Color 1                 0
Color 2                 0
Size                    0
Miles Price          3160
Source                  0
Source Notes         1405
Version                 0
HHA Concept 1           0
HHA Concept 2           0
HHA Series              0
HHA Set                 0
Interact                0
Tag                     0
Outdoor                 0
Speaker Type            0
Lighting Type           0
Catalog                 0
Filename                0
Variant ID            122
Internal ID             0
Unique Entry ID         0
dtype: int64

In [203]:
print(f'panjang dataset {len(df)} baris')

panjang dataset 3275 baris

## DATA SPLIT

Train/test split adalah salah satu metode yang dapat digunakan untuk mengevaluasi performa model machine learning. Metode evaluasi model ini membagi dataset menjadi dua bagian yakni bagian yang digunakan untuk training data dan untuk testing data dengan proporsi tertentu.

In [204]:
data = df[['Sell']]
label = df['Internal ID']

data_train, data_test, label_train, label_test = train_test_split(data, label, test_size=.3)

In [205]:
print(f'panjang data training {len(data_train)}',
     f'panjang label training {len(label_train)}',
     f'panjang data testing {len(data_test)}',
     f'panjang label testing {len(label_test)}',
     sep='\n')

panjang data training 2292
panjang label training 2292
panjang data testing 983
panjang label testing 983

## DATA TRANSFORMASI

Transformasi data adalah merubah skala data kedalam bentuk lain sehingga data memiliki distribusi yang diharapkan.Scaling adalah suatu cara untuk membuat numerical data pada dataset memiliki rentang nilai (scale) yang sama. Tidak ada lagi satu variabel data yang mendominasi variabel data lainnya.Teknik penskalaan yang biasa dipakai yaitu normalisasi dan standardisasi

- Normalisasi adalah proses penskalaan data menjadi rentang [0, 1].
- Standardisasi adalah proses penskalaan data sehingga memiliki nilai rata-rata 0 dan standar deviasi 1.

In [206]:
dataset_normalisasi = df.copy()
dataset_standarirasi = df.copy()

### NORMALISASI

In [207]:
scaler = MinMaxScaler()

normalize_dataset = scaler.fit_transform(dataset_normalisasi[['Kit Cost', 'Sell']])

normalize_dataset = pd.DataFrame(normalize_dataset)
normalize_dataset.rename(columns={ 0 :'Kit Cost', 1 : 'Sell'}, inplace=True)

normalize_dataset.head(5)

   Kit Cost      Sell
0  0.081633  0.012761
1  0.081633  0.012761
2  0.081633  0.012761
3  0.081633  0.012761
4  0.081633  0.012761

### STANDARISASI

In [208]:
dataset_standarirasi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3275 entries, 0 to 3274
Data columns (total 32 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               3275 non-null   object
 1   Variation          3074 non-null   object
 2   Body Title         1182 non-null   object
 3   Pattern            1508 non-null   object
 4   Pattern Title      1508 non-null   object
 5   DIY                3275 non-null   object
 6   Body Customize     3275 non-null   object
 7   Pattern Customize  3275 non-null   object
 8   Kit Cost           2239 non-null   float64
 9   Buy                3275 non-null   object
 10  Sell               3275 non-null   int64
 11  Color 1            3275 non-null   object
 12  Color 2            3275 non-null   object
 13  Size               3275 non-null   object
 14  Miles Price        115 non-null    float64
 15  Source             3275 non-null   object
 16  Source Notes       1870 non-null   object
 17  Version            3275 non-null   object
 18  HHA Concept 1      3275 non-null   object
 19  HHA Concept 2      3275 non-null   object
 20  HHA Series         3275 non-null   object
 21  HHA Set            3275 non-null   object
 22  Interact           3275 non-null   object
 23  Tag                3275 non-null   object
 24  Outdoor            3275 non-null   object
 25  Speaker Type       3275 non-null   object
 26  Lighting Type      3275 non-null   object
 27  Catalog            3275 non-null   object
 28  Filename           3275 non-null   object
 29  Variant ID         3153 non-null   object
 30  Internal ID        3275 non-null   int64
 31  Unique Entry ID    3275 non-null   object
dtypes: float64(2), int64(2), object(28)
memory usage: 818.9+ KB

In [209]:
dataset_standarirasi.drop('Name', axis = 1, inplace= True)

In [210]:
dataset_standarirasi.drop('Body Title', axis = 1, inplace= True)

In [211]:
dataset_standarirasi.drop('Variation', axis = 1, inplace= True)

In [212]:
dataset_standarirasi.drop('Pattern', axis = 1, inplace= True)

In [213]:
dataset_standarirasi.drop('Pattern Title', axis = 1, inplace= True)

In [214]:
dataset_standarirasi.drop('DIY', axis = 1, inplace= True)

In [215]:
dataset_standarirasi.drop('Body Customize', axis = 1, inplace= True)

In [216]:
dataset_standarirasi.drop('Pattern Customize', axis = 1, inplace= True)

In [217]:
dataset_standarirasi.drop('Buy', axis = 1, inplace= True)

In [218]:
dataset_standarirasi.drop('Color 1', axis = 1, inplace= True)

In [219]:
dataset_standarirasi.drop('Color 2', axis = 1, inplace= True)

In [220]:
dataset_standarirasi.drop('Size', axis = 1, inplace= True)

In [221]:
dataset_standarirasi.drop('Source', axis = 1, inplace= True)

In [222]:
dataset_standarirasi.drop('Source Notes', axis = 1, inplace= True)

In [223]:
dataset_standarirasi.drop('Version', axis = 1, inplace= True)

In [224]:
dataset_standarirasi.drop('HHA Concept 1', axis = 1, inplace= True)

In [225]:
dataset_standarirasi.drop('HHA Concept 2', axis = 1, inplace= True)

In [226]:
dataset_standarirasi.drop('HHA Series', axis = 1, inplace= True)

In [227]:
dataset_standarirasi.drop('HHA Set', axis = 1, inplace= True)

In [228]:
dataset_standarirasi.drop('Interact', axis = 1, inplace= True)

In [229]:
dataset_standarirasi.drop('Tag', axis = 1, inplace= True)

In [230]:
dataset_standarirasi.drop('Outdoor', axis = 1, inplace= True)

In [231]:
dataset_standarirasi.drop('Speaker Type', axis = 1, inplace= True)

In [232]:
dataset_standarirasi.drop('Lighting Type', axis = 1, inplace= True)

In [233]:
dataset_standarirasi.drop('Catalog', axis = 1, inplace= True)

In [234]:
dataset_standarirasi.drop('Filename', axis = 1, inplace= True)

In [235]:
dataset_standarirasi.drop('Variant ID', axis = 1, inplace= True)

In [236]:
dataset_standarirasi.drop('Unique Entry ID', axis = 1, inplace= True)

In [237]:
dataset_standarirasi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3275 entries, 0 to 3274
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Kit Cost     2239 non-null   float64
 1   Sell         3275 non-null   int64
 2   Miles Price  115 non-null    float64
 3   Internal ID  3275 non-null   int64
dtypes: float64(2), int64(2)
memory usage: 102.5 KB

In [238]:
standart_std = StandardScaler()

scaled_data = standart_std.fit_transform(dataset_standarirasi)

print('Dataset sebelum scalling:',  # SEBELUM
      f'Nilai standar deviasi:\n{np.std(dataset_standarirasi)}',
      sep='\n', end='\n\n')

print('Dataset setelah scalling:',  # SESUDAH
      scaled_data[:6],
      f'Nilai standar deviasi: {np.std(scaled_data)}',
      sep='\n')

Dataset sebelum scalling:
Nilai standar deviasi:
Kit Cost           3.492994
Sell           13821.721317
Miles Price     1270.415439
Internal ID     2379.092724
dtype: float64

Dataset setelah scalling:
[[ 0.49726284 -0.05797411         nan -1.35471041]
 [ 0.49726284 -0.05797411         nan -1.35471041]
 [ 0.49726284 -0.05797411         nan -1.35471041]
 [ 0.49726284 -0.05797411         nan -1.35471041]
 [ 0.49726284 -0.05797411         nan -1.35471041]
 [ 0.49726284 -0.05797411         nan -1.35471041]]
Nilai standar deviasi: nan

## DATA CLEANING

Data yang kita gunakan bisa jadi sangat berantakan. Ada informasi yang tak lengkap, ada pula format yang berbeda-beda.Semua ini tentu membuat data itu sulit diolah. Pada akhirnya, ia jadi tak bisa dimanfaatkan. Untuk itulah kita harus melakukan data cleaning terlebih dahulu. Data cleaning adalah memperbarui, membetulkan, dan membuat data menjadi lebih rapi. Beberapa model machine learning tidak dapat bekerja dengan data yang masih berantakan. Kesalahan dalam data dapat berupa:

- Terdapat nilai data yang tidak valid (Null)
- Data dalam format yang salah
- Terdapat duplikat

In [239]:
dataset_ns = df.copy()

In [240]:
imputer_mean = SimpleImputer(strategy='mean')
imputer_median = SimpleImputer(strategy='median')
imputer_modus = SimpleImputer(strategy='most_frequent')

MODUS

In [241]:
df.isna().sum()

Name                    0
Variation             201
Body Title           2093
Pattern              1767
Pattern Title        1767
DIY                     0
Body Customize          0
Pattern Customize       0
Kit Cost             1036
Buy                     0
Sell                    0
Color 1                 0
Color 2                 0
Size                    0
Miles Price          3160
Source                  0
Source Notes         1405
Version                 0
HHA Concept 1           0
HHA Concept 2           0
HHA Series              0
HHA Set                 0
Interact                0
Tag                     0
Outdoor                 0
Speaker Type            0
Lighting Type           0
Catalog                 0
Filename                0
Variant ID            122
Internal ID             0
Unique Entry ID         0
dtype: int64

In [242]:
dfmodus = df.copy()

In [243]:

dfmodus['Variation'] = imputer_modus.fit_transform(dfmodus[['Variation']])
dfmodus['Body Title'] = imputer_modus.fit_transform(dfmodus[['Body Title']])
dfmodus['Pattern'] = imputer_modus.fit_transform(dfmodus[['Pattern']])
dfmodus['Pattern Title'] = imputer_modus.fit_transform(dfmodus[['Pattern Title']])
dfmodus['Source Notes'] = imputer_modus.fit_transform(dfmodus[['Source Notes']])
dfmodus['Variant ID'] = imputer_modus.fit_transform(dfmodus[['Variant ID']])

dfmodus.isna().sum()

Name                    0
Variation               0
Body Title              0
Pattern                 0
Pattern Title           0
DIY                     0
Body Customize          0
Pattern Customize       0
Kit Cost             1036
Buy                     0
Sell                    0
Color 1                 0
Color 2                 0
Size                    0
Miles Price          3160
Source                  0
Source Notes            0
Version                 0
HHA Concept 1           0
HHA Concept 2           0
HHA Series              0
HHA Set                 0
Interact                0
Tag                     0
Outdoor                 0
Speaker Type            0
Lighting Type           0
Catalog                 0
Filename                0
Variant ID              0
Internal ID             0
Unique Entry ID         0
dtype: int64

MEAN

In [244]:

dfmodus['Kit Cost'] = imputer_mean.fit_transform(dfmodus[['Kit Cost']])
dfmodus['Miles Price'] = imputer_mean.fit_transform(dfmodus[['Miles Price']])

dfmodus.isna().sum()

Name                 0
Variation            0
Body Title           0
Pattern              0
Pattern Title        0
DIY                  0
Body Customize       0
Pattern Customize    0
Kit Cost             0
Buy                  0
Sell                 0
Color 1              0
Color 2              0
Size                 0
Miles Price          0
Source               0
Source Notes         0
Version              0
HHA Concept 1        0
HHA Concept 2        0
HHA Series           0
HHA Set              0
Interact             0
Tag                  0
Outdoor              0
Speaker Type         0
Lighting Type        0
Catalog              0
Filename             0
Variant ID           0
Internal ID          0
Unique Entry ID      0
dtype: int64

DATA DUPLIKAT

In [246]:
df2 = pd.read_csv('copy.csv')
df2.head()
dataset_duplicate = df2.copy()

dataset_duplicate.duplicated().sum()

4

In [247]:
dataset_duplicate.drop_duplicates(inplace=True)

dataset_duplicate.duplicated().sum()

0

## ENCODING

Encoding adalah salah tahap pre-processing ketika kita menghadapi data yang bersifat kategorikal. Encoding adalah teknik yang mengubah variabel kategorikal menjadi variabel numerik, model dalam machine learning membutuhkan input yang bertipe numerik sehingga sangat penting bagi kita untuk melakukan encoding jika terdapat variabel yang bertipe kategorikal didalam data kita. Teknik encoding yang paling terkenal adalah Ordinal Encoding dan One-Hot Encoding

In [248]:
dataset_ordinal = df.copy()
dataset_one_hot = df.copy()

In [249]:
df['Catalog'].unique()

array(['Not for sale', 'For sale', 'Not in catalog'], dtype=object)

ORDINAL

In [250]:
encoder_ordinal =OrdinalEncoder()

#encoding kan
dataset_ordinal['Catalog'] = encoder_ordinal.fit_transform(dataset_ordinal[['Catalog']]).astype('int64')

#lihat
dataset_ordinal.head()

,Name,Variation,Body Title,Pattern,Pattern Title,DIY,Body Customize,Pattern Customize,Kit Cost,Buy,...,Interact,Tag,Outdoor,Speaker Type,Lighting Type,Catalog,Filename,Variant ID,Internal ID,Unique Entry ID
0,acoustic guitar,Natural,Body,NaN,NaN,Yes,Yes,No,5.0,NFS,...,Yes,Musical Instrument,No,Does not play music,No lighting,1,FtrAcorsticguitar_Remake_0_0,0_0,383,EpywQXABBcv2dipsP
1,acoustic guitar,Cherry,Body,NaN,NaN,Yes,Yes,No,5.0,NFS,...,Yes,Musical Instrument,No,Does not play music,No lighting,1,FtrAcorsticguitar_Remake_1_0,1_0,383,K9she5Y4SuXA8MGBR
2,acoustic guitar,Brown,Body,NaN,NaN,Yes,Yes,No,5.0,NFS,...,Yes,Musical Instrument,No,Does not play music,No lighting,1,FtrAcorsticguitar_Remake_2_0,2_0,383,vLq9iphAvALBXazDr
3,acoustic guitar,Blue,Body,NaN,NaN,Yes,Yes,No,5.0,NFS,...,Yes,Musical Instrument,No,Does not play music,No lighting,1,FtrAcorsticguitar_Remake_3_0,3_0,383,nuqeFzNE5PneqGHaj
4,acoustic guitar,White,Body,NaN,NaN,Yes,Yes,No,5.0,NFS,...,Yes,Musical Instrument,No,Does not play music,No lighting,1,FtrAcorsticguitar_Remake_4_0,4_0,383,DotFsojrhCwrLZ3TF

In [251]:
dataset_ordinal['Catalog'].unique()

array([1, 0, 2], dtype=int64)

ONE-HOT

In [252]:
temp_dataset = pd.get_dummies(dataset_one_hot[['Catalog']])

temp_dataset = pd.DataFrame(temp_dataset)

dataset_one_hot.drop('Catalog', axis=1, inplace=True)

dataset_one_hot = dataset_one_hot.join(temp_dataset)
dataset_one_hot.head(5)

,Name,Variation,Body Title,Pattern,Pattern Title,DIY,Body Customize,Pattern Customize,Kit Cost,Buy,...,Outdoor,Speaker Type,Lighting Type,Filename,Variant ID,Internal ID,Unique Entry ID,Catalog_For sale,Catalog_Not for sale,Catalog_Not in catalog
0,acoustic guitar,Natural,Body,NaN,NaN,Yes,Yes,No,5.0,NFS,...,No,Does not play music,No lighting,FtrAcorsticguitar_Remake_0_0,0_0,383,EpywQXABBcv2dipsP,0,1,0
1,acoustic guitar,Cherry,Body,NaN,NaN,Yes,Yes,No,5.0,NFS,...,No,Does not play music,No lighting,FtrAcorsticguitar_Remake_1_0,1_0,383,K9she5Y4SuXA8MGBR,0,1,0
2,acoustic guitar,Brown,Body,NaN,NaN,Yes,Yes,No,5.0,NFS,...,No,Does not play music,No lighting,FtrAcorsticguitar_Remake_2_0,2_0,383,vLq9iphAvALBXazDr,0,1,0
3,acoustic guitar,Blue,Body,NaN,NaN,Yes,Yes,No,5.0,NFS,...,No,Does not play music,No lighting,FtrAcorsticguitar_Remake_3_0,3_0,383,nuqeFzNE5PneqGHaj,0,1,0
4,acoustic guitar,White,Body,NaN,NaN,Yes,Yes,No,5.0,NFS,...,No,Does not play music,No lighting,FtrAcorsticguitar_Remake_4_0,4_0,383,DotFsojrhCwrLZ3TF,0,1,0